<!DOCTYPE html>
<!--
Template Name: Midone - HTML Admin Dashboard Template
Author: Left4code
Website: http://www.left4code.com/
Contact: muhammadrizki@left4code.com
Purchase: https://themeforest.net/user/left4code/portfolio
Renew Support: https://themeforest.net/user/left4code/portfolio
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en" class="light">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8">
        <link href="/assets/dist/images/logo.svg" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
        <meta name="keywords" content="admin template, Midone Admin Template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="LEFT4CODE">
        <title>List Pelanggan - Visca POS Webapp</title>
        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="/assets/dist/css/app.css" />
        <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
        <style>
            /* Menyesuaikan lebar dropdown "Show entries" */
            .dataTables_length {
                width: 200px; /* Sesuaikan lebar sesuai kebutuhan Anda */
            }

            /* Menyesuaikan lebar opsi dropdown */
            .dataTables_length select {
                width: 30%; /* Menggunakan lebar penuh */
                box-sizing: border-box; /* Menambahkan padding dan border ke dalam lebar */
            }
        </style>
        <!-- END: CSS Assets-->
    </head>
    <!-- END: Head -->
    <body class="py-5">
        <!-- BEGIN: Mobile Menu -->
        <div class="mobile-menu md:hidden">
            <div class="mobile-menu-bar">
                <a href="" class="flex mr-auto">
                    <img alt="Midone - HTML Admin Template" class="w-6" src="/assets/dist/images/logo.svg">
                </a>
                <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
            </div>
            <div class="scrollable">
                <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="x-circle" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
                <ul class="scrollable__content py-2">
                    <li>
                        <a href="http://localhost:8080/aplikasi/dashboard" class="menu">
                            <div class="menu__icon"> <i data-lucide="airplay"></i> </div>
                            <div class="menu__title"> Dashboard </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="user"></i> </div>
                            <div class="menu__title"> Staff <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="http://localhost:8080/aplikasi/staff/list" class="menu">
                                    <div class="menu__icon"> <i data-lucide="list"></i> </div>
                                    <div class="menu__title"> List </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="book-open"></i> </div>
                                    <div class="menu__title"> Presensi </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://localhost:8080/aplikasi/client/list" class="menu menu--active">
                            <div class="menu__icon"> <i data-lucide="user-plus"></i> </div>
                            <div class="menu__title"> Pelanggan </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="package"></i> </div>
                            <div class="menu__title"> Produk <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="list"></i> </div>
                                    <div class="menu__title"> List </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="tag"></i> </div>
                                    <div class="menu__title"> Kategori </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="shopping-cart"></i> </div>
                            <div class="menu__title"> Transaksi <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                                    <div class="menu__title"> Penjualan </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="truck"></i> </div>
                                    <div class="menu__title"> Pembelian </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu">
                            <div class="menu__icon"> <i data-lucide="home"></i> </div>
                            <div class="menu__title"> Operasional </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="book-open"></i> </div>
                            <div class="menu__title"> Laporan <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="book-open"></i> </div>
                                    <div class="menu__title"> Kas </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                                    <div class="menu__title"> Penjualan </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="truck"></i> </div>
                                    <div class="menu__title"> Pembelian </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="shopping-cart"></i> </div>
                                    <div class="menu__title"> Kasir </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="user-plus"></i> </div>
                                    <div class="menu__title"> Pelanggan </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                                    <div class="menu__title"> Laba Rugi </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="settings"></i> </div>
                            <div class="menu__title"> Pengaturan <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="percent"></i> </div>
                                    <div class="menu__title"> Pajak & layanan </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="credit-card"></i> </div>
                                    <div class="menu__title"> Metode Pembayaran </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="clipboard"></i> </div>
                                    <div class="menu__title"> Presensi </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu">
                                    <div class="menu__icon"> <i data-lucide="at-sign"></i> </div>
                                    <div class="menu__title"> Satuan </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END: Mobile Menu -->
        <div class="flex mt-[4.7rem] md:mt-0">
            <!-- BEGIN: Side Menu -->
            <nav class="side-nav">
                <a href="" class="intro-x flex items-center pl-5 pt-4">
                    <img alt="Midone - HTML Admin Template" class="w-6" src="/assets/dist/images/logo.svg">
                    <span class="hidden xl:block text-white text-lg ml-3"> <b>Visca POS</b> </span> 
                </a>
                <div class="side-nav__devider my-6"></div>
                <ul>
                    <li>
                        <a href="http://localhost:8080/aplikasi/dashboard" class="side-menu">
                            <div class="side-menu__icon"> <i data-lucide="airplay"></i> </div>
                            <div class="side-menu__title">
                                Dashboard
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-lucide="user"></i> </div>
                            <div class="side-menu__title">
                                Staff 
                                <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="http://localhost:8080/aplikasi/staff/list" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="list"></i> </div>
                                    <div class="side-menu__title"> List </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="book-open"></i> </div>
                                    <div class="side-menu__title"> Presensi </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://localhost:8080/aplikasi/client/list" class="side-menu side-menu--active">
                            <div class="side-menu__icon"> <i data-lucide="user-plus"></i> </div>
                            <div class="side-menu__title">
                                Pelanggan 
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-lucide="package"></i> </div>
                            <div class="side-menu__title">
                                Produk 
                                <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="list"></i> </div>
                                    <div class="side-menu__title"> List </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="tag"></i> </div>
                                    <div class="side-menu__title"> Kategori </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-lucide="shopping-cart"></i> </div>
                            <div class="side-menu__title">
                                Transaksi 
                                <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                                    <div class="side-menu__title"> Penjualan </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="truck"></i> </div>
                                    <div class="side-menu__title"> Pembelian </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="side-menu">
                            <div class="side-menu__icon"> <i data-lucide="home"></i> </div>
                            <div class="side-menu__title"> Operasional </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-lucide="book-open"></i> </div>
                            <div class="side-menu__title">
                                Laporan 
                                <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="book-open"></i> </div>
                                    <div class="side-menu__title"> Kas </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                                    <div class="side-menu__title"> Penjualan </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="truck"></i> </div>
                                    <div class="side-menu__title"> Pembelian </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="shopping-cart"></i> </div>
                                    <div class="side-menu__title"> Kasir </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="user-plus"></i> </div>
                                    <div class="side-menu__title"> Pelanggan </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                    <div class="side-menu__title"> Laba Rugi </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-lucide="settings"></i> </div>
                            <div class="side-menu__title">
                                Pengaturan 
                                <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="percent"></i> </div>
                                    <div class="side-menu__title"> Pajak & Layanan </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="credit-card"></i> </div>
                                    <div class="side-menu__title"> Metode Pembayaran </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="clipboard"></i> </div>
                                    <div class="side-menu__title"> Presensi </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="side-menu">
                                    <div class="side-menu__icon"> <i data-lucide="at-sign"></i> </div>
                                    <div class="side-menu__title"> Satuan </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- END: Side Menu -->
            <!-- BEGIN: Content -->
            <div class="content">
                <!-- BEGIN: Top Bar -->
                <div class="top-bar">
                    <!-- BEGIN: Breadcrumb -->
                    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Aplikasi</a></li>
                            <li class="breadcrumb-item active" aria-current="page">List Pegawai</li>
                        </ol>
                    </nav>
                    <!-- END: Breadcrumb -->
                    <!-- BEGIN: Search -->
                    <div class="intro-x relative mr-3 sm:mr-6">
                        <div class="search hidden sm:block">
                            <select class="form-select search__input form-control border-transparent select-cabang">
                                <option selected disabled> --- Pilih Cabang --- </option>
                            </select>
                        </div>
                    </div>
                    <!-- END: Search -->
                    <!-- BEGIN: Notifications -->
                    <div class="intro-x dropdown mr-auto sm:mr-6">
                        <div class="dropdown-toggle notification notification--bullet cursor-pointer" role="button" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="bell" class="notification__icon dark:text-slate-500"></i> </div>
                        <div class="notification-content pt-2 dropdown-menu">
                            <div class="notification-content__box dropdown-content">
                                <div class="notification-content__title">Notifikasi</div>
                                <div class="cursor-pointer relative flex items-center ">
                                    <div class="w-12 h-12 flex-none image-fit mr-1">
                                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="/assets/dist/images/profile-7.jpg">
                                        <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div>
                                    </div>
                                    <div class="ml-2 overflow-hidden">
                                        <div class="flex items-center">
                                            <a href="javascript:;" class="font-medium truncate mr-5">Kevin Spacey</a> 
                                            <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">01:10 PM</div>
                                        </div>
                                        <div class="w-full truncate text-slate-500 mt-0.5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#039;s standard dummy text ever since the 1500</div>
                                    </div>
                                </div>
                                <div class="cursor-pointer relative flex items-center mt-5">
                                    <div class="w-12 h-12 flex-none image-fit mr-1">
                                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="/assets/dist/images/profile-2.jpg">
                                        <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div>
                                    </div>
                                    <div class="ml-2 overflow-hidden">
                                        <div class="flex items-center">
                                            <a href="javascript:;" class="font-medium truncate mr-5">Johnny Depp</a> 
                                            <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">01:10 PM</div>
                                        </div>
                                        <div class="w-full truncate text-slate-500 mt-0.5">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
                                    </div>
                                </div>
                                <div class="cursor-pointer relative flex items-center mt-5">
                                    <div class="w-12 h-12 flex-none image-fit mr-1">
                                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="/assets/dist/images/profile-5.jpg">
                                        <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div>
                                    </div>
                                    <div class="ml-2 overflow-hidden">
                                        <div class="flex items-center">
                                            <a href="javascript:;" class="font-medium truncate mr-5">Johnny Depp</a> 
                                            <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">05:09 AM</div>
                                        </div>
                                        <div class="w-full truncate text-slate-500 mt-0.5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomi</div>
                                    </div>
                                </div>
                                <div class="cursor-pointer relative flex items-center mt-5">
                                    <div class="w-12 h-12 flex-none image-fit mr-1">
                                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="/assets/dist/images/profile-9.jpg">
                                        <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div>
                                    </div>
                                    <div class="ml-2 overflow-hidden">
                                        <div class="flex items-center">
                                            <a href="javascript:;" class="font-medium truncate mr-5">Morgan Freeman</a> 
                                            <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">01:10 PM</div>
                                        </div>
                                        <div class="w-full truncate text-slate-500 mt-0.5">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
                                    </div>
                                </div>
                                <div class="cursor-pointer relative flex items-center mt-5">
                                    <div class="w-12 h-12 flex-none image-fit mr-1">
                                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="/assets/dist/images/profile-1.jpg">
                                        <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div>
                                    </div>
                                    <div class="ml-2 overflow-hidden">
                                        <div class="flex items-center">
                                            <a href="javascript:;" class="font-medium truncate mr-5">Denzel Washington</a> 
                                            <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">03:20 PM</div>
                                        </div>
                                        <div class="w-full truncate text-slate-500 mt-0.5">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END: Notifications -->
                    <!-- BEGIN: Account Menu -->
                    <div class="intro-x dropdown w-8 h-8">
                        <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in" role="button" aria-expanded="false" data-tw-toggle="dropdown">
                            <img alt="Midone - HTML Admin Template" src="/assets/dist/images/profile-5.jpg">
                        </div>
                        <div class="dropdown-menu w-56">
                            <ul class="dropdown-content bg-primary text-white">
                                <li class="p-2">
                                    <div class="font-medium login-user"></div>
                                    <div class="text-xs text-white/70 mt-0.5 dark:text-slate-500 login-role"></div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider border-white/[0.08]">
                                </li>
                                <li>
                                    <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> Profile </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item hover:bg-white/5 btn-logout"> <i data-lucide="toggle-right" class="w-4 h-4 mr-2"></i> Logout </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END: Account Menu -->
                </div>
                <!-- END: Top Bar -->
                <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
                    <h2 class="text-lg font-medium mr-auto">
                        List Pelanggan
                    </h2>
                    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
                        <button class="btn btn-primary shadow-md mr-2 btn-tambah">Tambah Pelanggan</button>
                    </div>
                </div>
                <!-- BEGIN: HTML Table Data -->
                <div class="intro-y box p-5 mt-5">
                    <div class="overflow-x-auto scrollbar-hidden">
                        <table id="data-table" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nama</th>
                                    <th>Email</th>
                                    <th>No Telpon</th>
                                    <th>Alamat</th>
                                    <th>Join</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END: HTML Table Data -->
            </div>
            <!-- END: Content -->
             <!-- BEGIN: Modal Content -->
            <div id="header-footer-modal-preview" class="modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- BEGIN: Modal Header -->
                        <div class="modal-header">
                            <h2 class="font-medium text-base mr-auto">
                                Form Tambah Data Pelanggan
                            </h2>
                            <a data-tw-dismiss="modal" href="javascript:;"> <i data-lucide="x" class="w-8 h-8 text-gray-500"></i> </a>
                        </div>
                        <!-- END: Modal Header -->
                        <!-- BEGIN: Modal Body -->
                        <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                            <div class="col-span-12 sm:col-span-12">
                                <label for="modal-form-1" class="form-label">Nama</label>
                                <input type="text" class="form-control form-nama" placeholder="Jhon Doe" required>
                            </div>
                            <div class="col-span-12 sm:col-span-12">
                                <label for="fileInput" class="form-label">Email</label>
                                <input type="email" class="form-control form-email" placeholder="jhon@mail.com" required>
                            </div>
                            <div class="col-span-12 sm:col-span-12">
                                <label for="fileInput" class="form-label">Nomor Telpon</label>
                                <input type="number" class="form-control form-phone" placeholder="62821********" required>
                            </div>
                            <div class="col-span-12 sm:col-span-12">
                                <label for="fileInput" class="form-label">Alamat</label>
                                <textarea class="form-control form-alamat" placeholder="Alamat pelanggan"></textarea>
                            </div>
                        </div>
                        <!-- END: Modal Body -->
                        <!-- BEGIN: Modal Footer -->
                        <div class="modal-footer text-right">
                            <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Batal</button>
                            <button type="button" class="btn btn-primary w-20 btn-simpan">Simpan</button>
                        </div>
                        <!-- END: Modal Footer -->
                    </div>
                </div>
            </div>
            <!-- END: Modal Content -->
            <!-- BEGIN: Success Notification Content -->
            <div id="success-notification-content" class="toastify-content hidden flex">
                <i class="text-success" data-lucide="check-circle"></i> 
                <div class="ml-4 mr-4">
                    <div class="font-medium">Simpan data pelanggan baru berhasil!</div>
                    <div class="text-slate-500 mt-1 pesan-sukses"></div>
                </div>
            </div>
            <!-- END: Success Notification Content -->
            <!-- BEGIN: Failed Notification Content -->
            <div id="fail-notification-content" class="toastify-content hidden flex">
                <i class="text-success" data-lucide="x-circle"></i> 
                <div class="ml-4 mr-4">
                    <div class="font-medium">Gagal simpan data pelanggan baru!</div>
                    <div class="text-slate-500 mt-1 pesan-gagal"></div>
                </div>
            </div>
            <!-- END: Notification Content -->
            <!-- BEGIN: Modal Update Content -->
            <div id="header-update-footer-modal-preview" class="modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- BEGIN: Modal Header -->
                        <div class="modal-header">
                            <h2 class="font-medium text-base mr-auto">
                                Form Ubah Data Pelanggan
                            </h2>
                            <a data-tw-dismiss="modal" href="javascript:;"> <i data-lucide="x" class="w-8 h-8 text-gray-500"></i> </a>
                        </div>
                        <!-- END: Modal Header -->
                        <!-- BEGIN: Modal Body -->
                        <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                            <div class="col-span-12 sm:col-span-12">
                                <label for="modal-form-1" class="form-label">Nama</label>
                                <input type="hidden" class="form-control update-form-id">
                                <input type="text" class="form-control update-form-nama" placeholder="Jhon Doe" required>
                            </div>
                            <div class="col-span-12 sm:col-span-12">
                                <label for="fileInput" class="form-label">Email</label>
                                <input type="email" class="form-control update-form-email" placeholder="jhon@mail.com" required>
                            </div>
                            <div class="col-span-12 sm:col-span-12">
                                <label for="fileInput" class="form-label">Nomor Telpon</label>
                                <input type="number" class="form-control update-form-phone" placeholder="62821********" required>
                            </div>
                            <div class="col-span-12 sm:col-span-12">
                                <label for="fileInput" class="form-label">Alamat</label>
                                <textarea class="form-control update-form-alamat" placeholder="Alamat pelanggan"></textarea>
                            </div>
                        </div>
                        <!-- END: Modal Body -->
                        <!-- BEGIN: Modal Footer -->
                        <div class="modal-footer text-right">
                            <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Batal</button>
                            <button type="button" class="btn btn-primary w-20 btn-update">Simpan</button>
                        </div>
                        <!-- END: Modal Footer -->
                    </div>
                </div>
            </div>
            <!-- END: Modal Content -->
            <!-- BEGIN: Success Notification Content -->
            <div id="success-update-notification-content" class="toastify-content hidden flex">
                <i class="text-success" data-lucide="check-circle"></i> 
                <div class="ml-4 mr-4">
                    <div class="font-medium">Update data pelanggan berhasil!</div>
                    <div class="text-slate-500 mt-1 updateres-sukses"></div>
                </div>
            </div>
            <!-- END: Success Notification Content -->
            <!-- BEGIN: Failed Notification Content -->
            <div id="fail-update-notification-content" class="toastify-content hidden flex">
                <i class="text-success" data-lucide="x-circle"></i> 
                <div class="ml-4 mr-4">
                    <div class="font-medium">Gagal update data pelanggan!</div>
                    <div class="text-slate-500 mt-1 updateres-gagal"></div>
                </div>
            </div>
            <!-- END: Notification Content -->
             <!-- BEGIN: Modal Delete Content -->
            <div id="delete-modal-preview" class="modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="p-5 text-center">
                                <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i> 
                                <div class="text-3xl mt-5">Hapus Data Pelanggan</div>
                                <div class="text-slate-500 mt-2">
                                    Apa kamu yakin akan menghapus data Pelanggan ini? 
                                    <br>
                                    data pelanggan yang terhapus tidak bisa dikembalikan.
                                </div>
                            </div>
                            <div class="px-5 pb-8 text-center">
                                <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Batakkan</button>
                                <button type="button" class="btn btn-danger w-24 hapus-btn">Hapus</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BEGIN: Notification Content -->
            <div id="success-hapus-notification-content" class="toastify-content hidden flex">
                <i class="text-success" data-lucide="check-circle"></i> 
                <div class="ml-4 mr-4">
                    <div class="font-medium">Hapus data pelanggan berhasil!</div>
                    <div class="text-slate-500 mt-1 hapus-sukses"></div>
                </div>
            </div>
            <!-- END: Notification Content -->
            <!-- BEGIN: Notification Content -->
            <div id="failed-hapus-notification-content" class="toastify-content hidden flex">
                <i class="text-success" data-lucide="x-circle"></i> 
                <div class="ml-4 mr-4">
                    <div class="font-medium">Hapus data pelanggan gagal!</div>
                    <div class="text-slate-500 mt-1 hapus-gagal"></div>
                </div>
            </div>
            <!-- END: Notification Content -->
        </div>
        
        <!-- BEGIN: JS Assets-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.29.1/dist/feather.min.js"></script>
        <script src="/assets/dist/js/app.js"></script>
        <script src="/assets/src/toastify.js"></script>
        <script>
            // cek package jquery
            jQuery(document).ready(function(){
                // Fungsi untuk mengatur cookie
                function setCookie(name, value, days) {
                    var expires = "";

                    if (days) {
                        var date = new Date();
                        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                        expires = "; expires=" + date.toUTCString();
                    }

                    document.cookie = name + "=" + encodeURIComponent(value) + expires + "; path=/";
                }

                // Fungsi untuk mendapatkan nilai token pada cookie
                function getCookie(name) {
                    var cookieName = name + "=";
                    var decodedCookie = decodeURIComponent(document.cookie);
                    var cookieArray = decodedCookie.split(';');

                    for (var i = 0; i < cookieArray.length; i++) {
                        var cookie = cookieArray[i];
                        while (cookie.charAt(0) === ' ') {
                            cookie = cookie.substring(1);
                        }
                        if (cookie.indexOf(cookieName) === 0) {
                            return cookie.substring(cookieName.length, cookie.length);
                        }
                    }
                }

                var token = getCookie('token');

                // Cek Token
                if (token) {

                    // Panggil data list cabang
                    var url = 'http://localhost:8080/api/v1/dashboard/support/cabang';
                    fetch(url, {
                        method: 'GET',
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    }).then(response => response.json()).then(data => {
                        var select = jQuery('.select-cabang');

                        // Iterasi melalui data dan membuat objek untuk setiap entri
                        jQuery.each(data, function(index, item) {
                            for (let i = 0; i < item.length; i++) {
                                select.append('<option value="' + item[i].id + '">' + item[i].name + '</option>');
                            }
                        });
                    }).catch(error => {
                        console.error('Error:', error);
                    });

                    // Tembak Api check token untuk memastikan token masih aktif atau tidak
                    var url = 'http://localhost:8080/api/v1/dashboard/profile-check';
                    fetch(url, {
                        method: 'GET',
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    }).then(response => response.json()).then(hasil => {
                        jQuery('.login-user').text(hasil.data.Name)
                        jQuery('.login-role').text(hasil.data.RoleName)
                        jQuery('.select-cabang').val(hasil.data.WarehouseId)

                        jQuery('.form-business_id').val(hasil.data.BusinessId)
                        jQuery('.form-warehouse_id').val(hasil.data.WarehouseId)
                    }).catch(error => {
                        console.log(error);
                    });

                    jQuery('.select-cabang').change(function() {
                        var id =  jQuery(this).val()
                        // Kirim permintaan pembaruan produk ke API
                        jQuery.ajax({
                            url: 'http://localhost:8080/api/v1/dashboard/ubah-cabang/' + id,
                            type: 'PUT',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function(response) {
                                if (response.status == 'Sukses')
                                {
                                    // Simpan token ke cookie
                                    var token = response.token;
                                    setCookie('token', token, 14); // Simpan cookie selama 7 hari

                                    // Tampilkan notifikasi toast sukses
                                    jQuery('.pesan-ubah-sukses').text(response.message);
                                    Toastify({
                                        node: $("#success-wh-notification-content")
                                            .clone()
                                            .removeClass("hidden")[0],
                                        duration: 3000,
                                        newWindow: true,
                                        close: true,
                                        gravity: "top",
                                        position: "right",
                                        stopOnFocus: true,
                                    }).showToast();

                                    // Redirect ke halaman dashboard admin
                                    setTimeout(function() {
                                        location.reload();
                                    }, 3000); // 3000 milliseconds = 3 seconds
                                }else{
                                    jQuery('.pesan-ubah-gagal').text(response.message);
                                    Toastify({
                                        node: $("#fail-wh-notification-content")
                                            .clone()
                                            .removeClass("hidden")[0],
                                        duration: -1,
                                        newWindow: true,
                                        close: true,
                                        gravity: "top",
                                        position: "right",
                                        stopOnFocus: true,
                                    }).showToast();
                                }
                            },
                            error: function(xhr, status, error) {
                                // Show the modal
                                // Parsing responseText sebagai JSON
                                var hpes = JSON.parse(xhr.responseText);
                                jQuery('.pesan-ubah-gagal').text(hpes.message);
                                Toastify({
                                    node: $("#fail-wh-notification-content")
                                        .clone()
                                        .removeClass("hidden")[0],
                                    duration: 5000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                }).showToast();
                            }
                        })
                    })

                    // Fungsi button tambah ketika di klik akan memunculkan modal
                    jQuery('.btn-tambah').click(function() {
                        // Show the modal
                        const el = document.querySelector("#header-footer-modal-preview");
                        const modal = tailwind.Modal.getOrCreateInstance(el);
                        modal.show(); 
                    })

                    jQuery('.btn-simpan').click(function() {
                        // Show the modal
                        event.preventDefault(); // Prevent default form submission

                        // Get form data
                        var name = jQuery(".form-nama").val();
                        var email = jQuery(".form-email").val();
                        var phone = jQuery(".form-phone").val();
                        var address = jQuery(".form-alamat").val();

                        // Send data using Ajax
                        jQuery.ajax({
                            url: 'http://localhost:8080/api/v1/pelanggan/tambah-data',
                            type: "POST",
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                            },
                            data: {
                                name: name,
                                email: email,
                                phone: phone,
                                address: address,
                            },
                            success: function(response) {
                                // Show the modal
                                jQuery('.pesan-sukses').text(response.message);
                                Toastify({
                                    node: $("#success-notification-content")
                                        .clone()
                                        .removeClass("hidden")[0],
                                    duration: 3000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                }).showToast();

                                setTimeout(function() {
                                    location.reload();
                                }, 3000); // 3000 milliseconds = 3 seconds
                            },
                            error: function(xhr, status, error) {
                                var hpes = JSON.parse(xhr.responseText);
                                jQuery('.pesan-gagal').text(hpes.message);
                                Toastify({
                                    node: $("#fail-notification-content")
                                        .clone()
                                        .removeClass("hidden")[0],
                                    duration: 4000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                }).showToast();
                            }
                        }); 
                    })

                    // Datatable list Cabang
                    jQuery('#data-table').DataTable({
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            "url": "http://localhost:8080/api/v1/pelanggan/list",
                            "dataType": "json",
                            "type": "POST",
                            "headers": {
                                'Authorization': 'Bearer ' + token
                            }
                        },
                        "columns": [
                            { data: 'id', className: 'text-center' },
                            { data: 'name', className: 'text-center' },
                            { data: 'email', className: 'text-center' },
                            { data: 'phone', className: 'text-center' },
                            { data: 'address', className: 'text-center' },
                            { data: 'join', className: 'text-center' },
                            {
                                data: null,
                                render: function (data, type, row) {

                                    var status = '';
                                    if(data.is_active == 'Aktif')
                                    {
                                        status = true;
                                    }else{
                                        status = false;
                                    }

                                    // Create action buttons
                                    var editBtn = '<button class="btn btn-primary btn-edit" data-id="' + data.id + '" data-name="' + data.name + '" data-email="' + data.email + '" data-phone="' + data.phone + '" data-address="' + data.address + '"><i data-feather="edit" class="w-4 h-4 mr-1"></i></button>';
                                    var deleteBtn = '<button class="btn btn-danger btn-delete" data-id="' + data.id + '"><i data-feather="trash-2" class="w-4 h-4 mr-1"></i></button>';

                                    // Combine the buttons
                                    var actions = editBtn + ' || ' + deleteBtn;
                                    return actions;
                                }
                            }
                        ],
                        "drawCallback": function(settings) {
                            feather.replace();
                        }
                    });

                    // Handle button click events
                    jQuery('#data-table').on('click', '.btn-edit', function() {
                        // Show the modal
                        const el = document.querySelector("#header-update-footer-modal-preview");
                        const modal = tailwind.Modal.getOrCreateInstance(el);
                        modal.show();

                        var id = jQuery(this).attr("data-id");
                        var name = jQuery(this).attr("data-name");
                        var email = jQuery(this).attr("data-email");
                        var phone = jQuery(this).attr("data-phone");
                        var address = jQuery(this).attr("data-address");

                        // Handle edit action
                        jQuery('.update-form-id').val(id);
                        jQuery('.update-form-nama').val(name);
                        jQuery('.update-form-email').val(email);
                        jQuery('.update-form-alamat').val(address);
                        jQuery('.update-form-phone').val(phone);
                    });

                    // Tombol Update Admin
                    jQuery(".btn-update").click(function() {
                        // Ajax update
                        var updateid = jQuery('.update-form-id').val();
                        var name = jQuery('.update-form-nama').val();
                        var email = jQuery('.update-form-email').val();
                        var phone = jQuery('.update-form-phone').val();
                        var address = jQuery('.update-form-alamat').val();

                        // Kirim permintaan pembaruan produk ke API
                        jQuery.ajax({
                            url: 'http://127.0.0.1:8080/api/v1/pelanggan/update/' + updateid,
                            type: "PUT",
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                            },
                            contentType: 'application/x-www-form-urlencoded',
                            data: {
                                name: name,
                                email: email,
                                phone: phone,
                                address: address
                            },
                            success: function(response) {
                                // Show the modal
                                jQuery('.updateres-sukses').text(response.message);
                                Toastify({
                                    node: $("#success-update-notification-content")
                                        .clone()
                                        .removeClass("hidden")[0],
                                    duration: 3000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                }).showToast();

                                setTimeout(function() {
                                    location.reload();
                                }, 3000); // 3000 milliseconds = 3 seconds
                            },
                            error: function(xhr, status, error) {
                                // Show the modal
                                jQuery('.updateres-gagal').text(response.message);
                                Toastify({
                                    node: $("#fail-update-notification-content")
                                        .clone()
                                        .removeClass("hidden")[0],
                                    duration: 5000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                }).showToast();

                                setTimeout(function() {
                                    location.reload();
                                }, 5000); // 3000 milliseconds = 3 seconds
                            }
                        });
                    });

                    // Button Hapus data
                    jQuery('#data-table').on('click', '.btn-delete', function() {
                        var idhapus = jQuery(this).attr("data-id");

                        // Show Modal
                        const el = document.querySelector("#delete-modal-preview");
                        const modal = tailwind.Modal.getOrCreateInstance(el);
                        modal.show();

                        // Fungsi button hapus pada modal peringatan
                        jQuery('.hapus-btn').click(function() {
                            // Ajax delete api
                            jQuery.ajax({
                                url: 'http://localhost:8080/api/v1/pelanggan/hapus/' + idhapus,
                                type: 'DELETE',
                                headers: {
                                    'Authorization': 'Bearer ' + token
                                },
                                success: function(response) {
                                    jQuery('.pesan-sukses').text(response.message);
                                    Toastify({
                                        node: $("#success-notification-content")
                                            .clone()
                                            .removeClass("hidden")[0],
                                        duration: 2000,
                                        newWindow: true,
                                        close: true,
                                        gravity: "top",
                                        position: "right",
                                        stopOnFocus: true,
                                    }).showToast();

                                    setTimeout(function() {
                                        location.reload();
                                    }, 3000); // 3000 milliseconds = 3 seconds
                                },
                                error: function(xhr, status, error) {
                                    jQuery('.pesan-gagal').text(error);
                                    Toastify({
                                        node: $("failed-notification-content")
                                            .clone()
                                            .removeClass("hidden")[0],
                                        duration: 5000,
                                        newWindow: true,
                                        close: true,
                                        gravity: "top",
                                        position: "right",
                                        stopOnFocus: true,
                                    }).showToast();
                                }
                            });
                        })
                    });

                    jQuery('.btn-logout').click(function() {
                        var url = 'http://localhost:8080/api/v1/logout';
                        fetch(url, {
                            method: 'GET',
                            headers: {
                                'Authorization': 'Bearer ' + token
                            }
                        }).then(response => response.json()).then(data => {

                            // Show the modal
                            jQuery('.hapus-sukses').text(response.message);
                            Toastify({
                                node: $("#success-hapus-notification-content")
                                    .clone()
                                    .removeClass("hidden")[0],
                                duration: 3000,
                                newWindow: true,
                                close: true,
                                gravity: "top",
                                position: "right",
                                stopOnFocus: true,
                            }).showToast();

                            setTimeout(function() {
                                window.location.href = "http://localhost:8080/"; // Replace with your desired destination URL
                            }, 3000); // 3000 milliseconds = 3 seconds

                        }).catch(error => {
                            // Show the modal
                            jQuery('.hapus-gagal').text(error);
                            Toastify({
                                node: $("#failed-hapus-notification-content")
                                    .clone()
                                    .removeClass("hidden")[0],
                                duration: 5000,
                                newWindow: true,
                                close: true,
                                gravity: "top",
                                position: "right",
                                stopOnFocus: true,
                            }).showToast();
                        });
                    })
                }else{
                    window.location.href = "http://localhost:8080/"; // Replace with your desired destination URL
                }
            })
        </script>
        <!-- END: JS Assets-->
    </body>
</html>