<!DOCTYPE html>
<!--
Template Name: Midone - HTML Admin Dashboard Template
Author: Left4code
Website: http://www.left4code.com/
Contact: muhammadrizki@left4code.com
Purchase: https://themeforest.net/user/left4code/portfolio
Renew Support: https://themeforest.net/user/left4code/portfolio
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en" class="light">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8">
        <link href="/assets/dist/images/logo.svg" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
        <meta name="keywords" content="admin template, Midone Admin Template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="LEFT4CODE">
        <title>Pendaftaran Akun - Visca POS Webapp</title>
        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="/assets/dist/css/app.css" />
        <!-- END: CSS Assets-->
    </head>
    <!-- END: Head -->
    <body class="login">
        <div class="container sm:px-10">
            <div class="block xl:grid grid-cols-2 gap-4">
                <!-- BEGIN: Register Info -->
                <div class="hidden xl:flex flex-col min-h-screen">
                    <a href="" class="-intro-x flex items-center pt-5">
                        <img alt="Midone - HTML Admin Template" class="w-6" src="/assets/dist/images/logo.svg">
                        <span class="text-white text-lg ml-3"> <b>Visca POS</b> </span> 
                    </a>
                    <div class="my-auto">
                        <img alt="Midone - HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="/assets/dist/images/illustration.svg">
                        <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                            Isi form data yang tersedia. 
                            <br>
                            untuk pendaftaran akun usaha anda.
                        </div>
                        <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Kelola usaha retail / f&b anda dalam 1 menejemen aplikasi</div>
                    </div>
                </div>
                <!-- END: Register Info -->
                <!-- BEGIN: Register Form -->
                <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                    <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                        <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                            Pendaftaran Akun
                        </h2>
                        <div class="intro-x mt-2 text-slate-400 dark:text-slate-400 xl:hidden text-center">Isi form data yang tersedia, untuk pendaftaran akun usaha anda. Kelola usaha anda dalam 1 aplikasi</div>
                        <div class="intro-x mt-8">
                            <input type="text" class="intro-x login__input form-control py-3 px-4 block reg-owner" placeholder="Nama Pemilik" required>
                            <input type="text" class="intro-x login__input form-control py-3 px-4 block mt-4 reg-bisnis" placeholder="Nama Usaha" required>
                            <input type="email" class="intro-x login__input form-control py-3 px-4 block mt-4 reg-email" placeholder="Email" required>
                            <input type="password" class="intro-x login__input form-control py-3 px-4 block mt-4 reg-password" placeholder="Password" required>
                            <input type="password" class="intro-x login__input form-control py-3 px-4 block mt-4 reg-confirm" placeholder="Password Confirmation" required>
                            <input type="number" class="intro-x login__input form-control py-3 px-4 block mt-4 reg-phone" placeholder="Nomer Hp Pemilik" required>
                            <select class="form-select intro-x login__input form-control py-3 px-4 block mt-4 reg-tipe" required>
                                <option selected disabled> --- Pilih Tipe Bisnis --- </option>
                                <option value="Retail"> Retail </option>
                                <option value="F&B"> F&B </option>
                            </select>
                        </div>
                        <div class="intro-x flex items-center text-slate-600 dark:text-slate-500 mt-4 text-xs sm:text-sm">
                            <input id="remember-me" type="checkbox" class="form-check-input border mr-2">
                            <label class="cursor-pointer select-none" for="remember-me">Saya setuju dengan Visca POS</label>
                            <a class="text-primary dark:text-slate-200 ml-1" href="">Syarat & Ketentuan</a>. 
                        </div>
                        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                            <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top btn-register">Daftar</button>
                            <button class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top">Login</button>
                        </div>
                    </div>
                </div>
                <!-- END: Register Form -->
                <!-- BEGIN: Failed Notification Content -->
                <div id="fail-validation-notification-content" class="toastify-content hidden flex">
                    <i class="text-success" data-lucide="x-circle"></i> 
                    <div class="ml-4 mr-4">
                        <div class="font-medium">Password dan Konfirmasi Password tidak sama!</div>
                        <div class="text-slate-500 mt-1">Password dan konfirmasi password harus sesuai</div>
                    </div>
                </div>
                <!-- END: Notification Content -->
            </div>
        </div>
        
        <!-- BEGIN: JS Assets-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/assets/dist/js/app.js"></script>
        <script src="/assets/src/toastify.js"></script>
        <script>
            // cek package jquery
            jQuery(document).ready(function(){
                // Disabled konfirmasi password
                jQuery('.reg-confirm').prop('disabled', true)

                // Sembunyikan tombol pendfataran untuk password dan konfirmasi
                jQuery('.btn-register').hide()

                // Kondisi bila password sudah terisi dan kolom konfirmasi password bisa terisi
                jQuery('.reg-password').change(function() {
                    jQuery('.reg-confirm').prop("disabled", false) 
                });

                // Cek kolom password dan konfirmasi untuk memunculkan btn-register
                jQuery('.reg-confirm').change(function() {
                    var konfirm = jQuery(this).val()
                    var pass = jQuery('.reg-password').val()

                    if(pass == konfirm)
                    {
                        jQuery('.btn-register').show()
                    }else{
                        Toastify({
                            node: $("#fail-validation-notification-content")
                                .clone()
                                .removeClass("hidden")[0],
                            duration: 4000,
                            newWindow: true,
                            close: true,
                            gravity: "top",
                            position: "right",
                            stopOnFocus: true,
                        }).showToast();
                    }
                })

                // Fungsi tombol pendaftaran akun
                jQuery('.btn-register').click(function() {
                    // Get form data
                    var name = jQuery(".pelanggan-nama").val();
                    var email = jQuery(".pelanggan-email").val();
                    var telpon = jQuery(".pelanggan-telpon").val();
                    var alamat = jQuery(".pelanggan-alamat").val();
                    var refferal = jQuery(".pelanggan-refferal").val();

                    var formData = new FormData();
                    formData.append('name', name);
                    formData.append('email', email);
                    formData.append('telpon', telpon);
                    formData.append('alamat', alamat);
                    formData.append('refferal', refferal);

                    // Kirim permintaan pembaruan produk ke API
                    jQuery.ajax({
                        url: 'http://127.0.0.1:8000/api/pos/tambah-pelanggan',
                        type: 'POST',
                        headers: {
                            "Authorization": "Bearer " + token
                        },
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            // Show the modal
                            jQuery('.pesan-sukses').text(response.message);
                            Toastify({
                                node: $("#success-notification-content")
                                    .clone()
                                    .removeClass("hidden")[0],
                                duration: 3000,
                                newWindow: true,
                                close: true,
                                gravity: "top",
                                position: "right",
                                stopOnFocus: true,
                            }).showToast();

                            setTimeout(function() {
                                location.reload();
                            }, 3000); // 3000 milliseconds = 3 seconds
                        },
                        error: function(xhr, status, error) {
                            // Show the modal
                            jQuery('.pesan-gagal').text(error);
                            Toastify({
                                node: $("#fail-notification-content")
                                    .clone()
                                    .removeClass("hidden")[0],
                                duration: 5000,
                                newWindow: true,
                                close: true,
                                gravity: "top",
                                position: "right",
                                stopOnFocus: true,
                            }).showToast();

                            setTimeout(function() {
                                location.reload();
                            }, 5000); // 3000 milliseconds = 3 seconds
                        }
                    });
                })
            });
        </script>
        <!-- END: JS Assets-->
    </body>
</html>